<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RENTAL PROPERTIES</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Social Media Fonts  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      .grad1 {
        background-image: linear-gradient(to right, white, rgb(107, 107, 226));
      }

      footer {
        background-image: linear-gradient(to left, white, rgb(107, 107, 226));
        color: navy;
        padding: 26px;
        margin-top: -10px;
        /* bottom:0; */
      }
      /* #footer {
        background-image: linear-gradient(to left, white, rgb(107, 107, 226));
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
      /* height: 40px;
      } */

      h3 {
        margin: 10px 0 30px 0;
        letter-spacing: 10px;
        font-size: 20px;
        color: #111;
      }

      /* .container {
          padding: 200px 120px;
                 }  */

      /*.carousel-inner img {
          width: 100%;  Set width to 100%
          margin: auto;
                  } */

      .carousel-caption h3 {
        color: #fff !important;
        font-weight: 900;
      }

      @media (max-width: 600px) {
        .carousel-caption {
          display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
        }
      }

      .navbar {
        margin-bottom: 0;
        border: 0;
      }

      .navbar li a {
        color: navy !important;
      }

      .navbar-nav li a:hover {
        color: navy !important;
      }

      .navbar-nav li.active a {
        color: navy !important;
        background-color: rgba(255, 255, 255, 0.658) !important;
      }

      .dropdown-menu li a {
        color: navy !important;
      }

      .dropdown-menu li a:hover {
        background-color: wheat !important;
      }

      .fa-facebook {
        color: navy;
      }
      .fa-twitter {
        color: navy;
      }
      .fa-instagram {
        color: navy;
      }

      /* Start of Carousel style classes*/

      /* ensures that both columns are always equal height */
      .div-equalheightfix {
        float: none;
        display: table-cell;
        vertical-align: top;
      }

      /* carousel css */
      .carousel.fade {
        opacity: 1;
        margin: auto -15px auto -15px;
      }
      .carousel.fade .item {
        opacity: 0;
        -moz-transition: opacity ease-in-out 0.7s;
        -o-transition: opacity ease-in-out 0.7s;
        -webkit-transition: opacity ease-in-out 0.7s;
        transition: opacity ease-in-out 0.7s;
        position: absolute;
        display: block !important;
        left: 0 !important;
        top: 0;
        z-index: 1;
      }
      .carousel.fade .item:first-child {
        top: auto;
        position: relative;
      }
      .carousel.fade .item.active {
        opacity: 1;
        -moz-transition: opacity ease-in-out 0.7s;
        -o-transition: opacity ease-in-out 0.7s;
        -webkit-transition: opacity ease-in-out 0.7s;
        transition: opacity ease-in-out 0.7s;
        z-index: 2;
      }

      /* text-column CSS */
      .div-aboutus {
        padding: 2% 8% 6% 4%;
        color: #f1f1f2;
        line-height: 175%;
      } /* End of Carousel style classes*/

      /*force the page to always scroll to top on reload/refresh*/
      html {
        height: 100%;
        overflow: hidden;
        width: 100%;
      }

      body {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-inverse, grad1"
      style="position: relative; height: 100px; margin-bottom: 10px"
    >
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/"
            ><img
              class="img-responsive"
              src="img/logo.png"
              alt="Home"
              style="
                position: absolute;
                top: 0px;
                left: 75px;
                width: 100px;
                height: 100px;
              "
          /></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a
              href="/house"
              style="
                position: absolute;
                color: navy;
                left: -850px;
                top: 45px;
                font-size: 15px;
                font-weight: 900;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
                text-transform: uppercase;
              "
              >House</a
            >
          </li>
          <li>
            <a
              href="/apartment"
              style="
                position: absolute;
                color: navy;
                left: -740px;
                top: 45px;
                font-size: 15px;
                font-weight: 900;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
                text-transform: uppercase;
              "
              >APARTMENT</a
            >
          </li>
          <li class="active">
            <a
              href="/condo"
              style="
                position: absolute;
                color: navy;
                left: -615px;
                top: 45px;
                font-size: 15px;
                font-weight: 900;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
                text-transform: uppercase;
              "
              >CONDO</a
            >
          </li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              style="
                color: navy;
                right: 57px;
                top: 45px;
                font-size: 15px;
                font-weight: 900;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
                text-transform: uppercase;
              "
              >MORE <span class="caret"></span
            ></a>
            <ul class="dropdown-menu" style="right: 55px; top: 90px">
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/contact_us">CONTACT US</a></li>
              <li><a href="/list_your_property">LIST YOUR PROPERTY</a></li>
              <li><a href="/privacy_policy">PRIVACY POLICY</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Carousel 1 -->
    <% items.forEach(function(image) { %>
    <div
      class="container"
      style="
        width: 100%;
        background-color: #252525;
        height: 345px;
        width: 1360px;
        margin-bottom: 10px;
        border: white;
        border-style: double;
      "
    >
      <div class="row" style="display: table">
        <!-- text column (left) -->
        <div class="col-xs-12 col-sm-4 div-equalheightfix div-aboutus">
          <p>
            <span style="color: burlywood; font-weight: 900">LISTING ID:</span>
            <%= image._id %> <br />
            <span style="color: burlywood; font-weight: 900"
              >PROPERTY TYPE:</span
            >
            <%= image.property_type %> <br />
            <span style="color: burlywood; font-weight: 900">ADDRESS:</span> <%=
            image.address %> <br />
            <span style="color: burlywood; font-weight: 900">RENT:</span><%=
            image.rent %><br />
            <span style="color: burlywood; font-weight: 900">BEDS:</span><%=
            image.beds %><br />
            <span style="color: burlywood; font-weight: 900">BATHS:</span><%=
            image.baths %><br />
            <span style="color: burlywood; font-weight: 900"> FURNISHING:</span
            ><%= image.furnishing %><br />
            <span style="color: burlywood; font-weight: 900"> LEASE TERM:</span
            ><%= image.lease %><br />
            <span style="color: burlywood; font-weight: 900">
              AVAILABILITY:</span
            >
            <%= image.availability %><br />
            <span style="color: burlywood; font-weight: 900"
              >UTILITIES INCLUDED:</span
            >
            <%= image.util %><br />
            <span style="color: burlywood; font-weight: 900"
              >LANDLORD(EMAIL):</span
            >
            <%= image.email %><br />
            <span style="color: burlywood; font-weight: 900"
              >LANDLORD(Phone):</span
            >
            <%= image.phone %>
          </p>
        </div>
        <!-- carousel column (right) -->
        <div class="col-sm-8 hidden-xs div-equalheightfix">
          <div id="myCarousel1" class="carousel fade" data-ride="carousel">
            <!-- indicators/buttons -->
            <ol class="carousel-indicators">
              <li
                data-target="#myCarousel1"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#myCarousel1" data-slide-to="1"></li>
              <li data-target="#myCarousel1" data-slide-to="2"></li>
              <li data-target="#myCarousel1" data-slide-to="3"></li>
            </ol>
            <!-- images -->
            <div class="carousel-inner clickthrough" role="listbox">
              <div class="item active">
                <img
                  src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>"
                  data-no-retina
                />
              </div>
              <div class="item">
                <img
                  src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>"
                  data-no-retina
                />
              </div>
              <div class="item">
                <img
                  src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>"
                  data-no-retina
                />
              </div>
              <div class="item">
                <img
                  src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>"
                  data-no-retina
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>

    <footer class="container-fluid text-center" style="margin-top: 10px">
      <p>
        © Copyrights 2021-2022. All rights reserverd.&nbsp;&nbsp;&nbsp;&nbsp;
        <span
          class="social-media"
          title="Click and share!"
          style="font-size: 15px"
        >
          <a
            target="_blank"
            href="https://www.facebook.com/"
            class="fa fa-facebook"
          >
          </a
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            target="_blank"
            href="https://twitter.com/LOGIN/"
            class="fa fa-twitter"
          ></a
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            target="_blank"
            href="https://www.instagram.com/"
            class="fa fa-instagram"
          ></a>
        </span>
      </p>
    </footer>
  </body>
</html>
